{{!--Sarah Beidelschies --}}
{{!--get and post request handlebars file--}}

{{!--if getRequest is true, print get header, else print post header--}}
{{#if getRequest}}

<h1>Get Request Data</h1>

{{else}}

<h1>Post Request Data </h1>
{{/if}}

{{!--for each value in query string, add name/value to table--}}
{{!--does not matter if this is coming from a get or a post--}}
<table style="border:solid 2px;">
  <thead>
    <th>Name</th>
	<th>Value</th>
  <tbody>
    {{#each data}}
	<tr>
    <td>{{this.name}} </td>
    <td>{{this.value}} </td>
	</tr>
  {{/each}}
</table>

{{!--only render the table below if it is for a post request--}}
{{!--add name/value to table from the req body--}}
{{#if postRequest}}

</br>
</br>
<table style="border:solid 2px;">
  <caption>Body Data </caption>
  <thead>
    <th>Name</th>
	<th>Value</th>
  <tbody>
    {{#each bodyData}}
	<tr>
    <td>{{this.name}} </td>
    <td>{{this.value}} </td>
	</tr>
  {{/each}}
</table>

{{/if}}